@font-face {
  font-family: "Satisfy";
  src: url(fonts/Satisfy-Regular.ttf);
}
@font-face {
  font-family: "Moondance";
  src: url(fonts/Lobster-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 15vw);
  justify-items: center;
  align-items: center;
  background-color: #3d0066;
}

video {
  display: grid;
  width: 100%;
}
section figure {
  grid-column: 1/4;
  grid-row: 1/4;
}
section h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: white;
  font-family: "Moondance";
  font-size: 3vw;
}

.button {
  display: flex;
  position: absolute;
  top: 70%;
  left: 47%;
  color: #03071e;
  background-color: #ffee32;
  padding: 7px 25px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1.5vw;
  font-family: "Satisfy";
}
