@font-face {
  font-family: "Satisfy";
  src: url(fonts/Satisfy-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  height: 10vw;
  gap: 57%;
  width: 100%;
  border-bottom: none;
  background-color: #3d0066;
  z-index: 3;
}
header #title {
  width: 50%;
}

#title a {
  text-decoration: none;
}

header p {
  color: #c86bfa;
  font-size: 3vw;
  height: 1vw;
  font-family: "Satisfy";
  letter-spacing: 0.3vw;
}
header #fizz {
  margin-top: 0.5vw;
  margin-left: 13%;
}
header #wizz {
  margin-left: 21%;
}
header ul {
  margin: 0;
  padding: 0;
  margin-top: 2.5vw;
  list-style-type: none;
  display: flex;
  gap: 5vw;
  margin-right: 5vw;
}
header ul li a {
  color: black;
  text-decoration: none;
  font-size: 3vw;
}
header ul #cart-icon {
  width: 100%;
  height: 4vw;
}

/* main part  */
/* .hero {
  background-color: transparent;
  width: 100vw;
  height: 80vh;
} */

.hero {
  background-color: #c86bfa;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* css animation in hero */

/* .layer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.2s cubic-bezier(0.71, 0, 0.38, 1);
} */

#layer1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.2s cubic-bezier(0.71, 0, 0.38, 1);
  z-index: 2;
}

#layer2 {
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.2s cubic-bezier(0.71, 0, 0.38, 1);
  z-index: 1;
}

#layer2 .text {
  color: aliceblue;
}
.can-container {
  width: 200px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.can-img {
  width: 40%;
  max-width: 100%;
  object-fit: contain;
}
.wrapper {
  position: absolute;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  mix-blend-mode: multiply;
  /* transition: 10s cubic-bezier(0.71, 0, 0.38, 1); */
  transition: transform 2.5s ease-in-out;
}

.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 8rem;
  color: aliceblue;
  position: absolute;
  transition: 1.2s cubic-bezier(0.71, 0, 0.38, 1);
  display: none;
}

#toggle {
  display: none;
}

.layer label {
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 75px;
}

#toggle:checked ~ #layer1 {
  left: -50%;
}
#toggle:checked ~ #layer1 .text {
  transform: translateX(150%);
}

#toggle:not(:checked) ~ #layer2 .can-container .wrapper {
  left: 150%;
}
#toggle:not(:checked) ~ #layer2 .text {
  transform: translateX(-150%);
}

/* css animation in hero */

.archive {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 96vw;
  max-width: 100%;
  gap: 2vw;
  margin: 0 auto;
  /* align-content: stretch; */
  background-color: #20113a;
  padding: 2vw;
  justify-items: center;
}

.autoBlur {
  /* position: relative; */
  overflow: hidden;
  transition: filter 0.2s ease-out;
}

.autoBlur p {
  color: #c86bfa;
}

.autoBlur img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  /* transition: filter 0.3 ease;
  filter: blur(20px); */
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.plus-button {
  position: relative;
  /* right: 10px; */
  /* bottom: 10px; */
  width: 40px;
  height: 40px;
  background-color: #ffee32;
  color: #03071e;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.plus-button:hover {
  background-color: #7b7b7a;
  transform: scale(1.1);
}

/* shopping cart */
#cart-container {
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.7s ease-in-out;
  width: 40%;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  padding: 20px;
  text-transform: uppercase;
}

#cart {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  max-width: 250px;
}

.cart-count {
  position: absolute;
  top: 2.8rem;
  right: 2rem;
  background-color: #fafafa;
  color: rgb(131, 6, 6);
  font-size: 1rem;
  padding: 2px 6px;
  border-radius: 60%;
  font-weight: bold;
}

.cart-items {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid black;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#pay-button,
#shop-button {
  background-color: #3d0066;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  border-radius: 30px;
}

#pay-button:hover,
#shop-button:hover {
  background-color: #ffee32;
}

/* footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: flex-start;
  background-color: #3d0066;
  border-top: solid 0.1vw#03071e;
}
footer .contact-form {
  grid-column: 1/4;
  grid-row: 1/2;
  justify-content: center;
  gap: 20%;
  font-size: 1.5vw;
  color: #c86bfa;
}
input[type="submit"] {
  margin-top: 1vw;
  height: 2vw;
  background-color: #ffee32;
  font-size: 1vw;
}
input[type="text"],
select,
textarea {
  height: 1.5vw;
  font-size: 1vw;
  margin-left: 2vw;
}
label {
  font-family: "DM";
  font-size: 1.2vw;
}
footer p {
  grid-column: 1/2;
  grid-row: 2/3;
  color: #c86bfa;
  margin-left: 2vw;
  margin-top: 3vw;
}

/* inetractive design */

@media (max-width: 1200px) {
  .archive {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 900px) {
  .archive {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 550px) {
  .archive {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
